{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}{% block header_title %}Contact{% endblock header_title %}{% endblock page_title %}

{% block content %}
    <p>I am currently accepting small projects as well as software development job offers of all kinds. Please use the email address below for any questions or further information about my work.</p>
    <a href="mailto:adam@adambeagle.com" class="btn btn-primary btn-lrg btn-contact"><div class="glyphicon glyphicon-envelope" aria-hidden="true"></div>adam@adambeagle.com</a>
    <a href="http://github.com/adambeagle" class="btn btn-info btn-lrg btn-contact"><img src="{% static 'images/GitHub-Mark-Light-64px.png' %}">github.com/adambeagle</a>
    <a href="http://stackoverflow.com/users/3015488/narpar1217" class="btn btn-grey btn-lrg btn-contact"><img src="{% static 'images/so-icon.png' %}">StackOverflow: Narpar1217</a>
{% endblock content %}