{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}{% block header_title %}Projects{% endblock header_title %}{% endblock page_title %}

{% block content %}
    {% for project in projects %}
        <div class="project">
            <div class="row">
                <div class="col-md-12">
                    <hr class="project-separator">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 {% if not forloop.counter0|divisibleby:'2' %}col-sm-push-6{% endif %}">
                    <h3>{{ project.title }}</h3>
                    <ul>
                        <li>Type: {{ project.type }}</li>
                        <li>Role: {{ project.role }}</li>
                        <li>Technology: {{ project.technology }}</li>
                        {% if project.source_url %}
                            <li>Source: <a href="{{ project.source_url.url }}" title="{{ project.source_url.title }}">{{ project.source_url.text }}</a></li>
                        {% endif %}
                    </ul>
                    <p>{{ project.description }}</p>
                </div>
                <div class="col-sm-6 {% if not forloop.counter0|divisibleby:'2' %}col-sm-pull-6{% endif %} text-center">
                    <div class="project-img-wrapper">
                        <img src="{% static project.image.static_path %}" alt="{{ project.image.alt }}">
                    </div>
                    {% if project.live_url %}
                        <span class="live-url-leadin">View live at</span>
                        <a href="{{ project.live_url.url }}" title="{{ project.live_url.title }}">{{ project.live_url.text }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
