/************************************
*  GENERAL
*************************************/
body {
	padding-top: 0;
}

#content-col {
	border-top: 3px double #ccc;
}

article>p:first-child {
	margin-top: 1em;
}

.stderr {
	color: #c00;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

.fill-w {
	width: 100%;
}

/************************************
*  HEADER
*************************************/
header {
	text-align: center;
	padding: 0 1em;
}

header.with-background-img {
	background-size: cover;
	height: 15em;
}

header.with-background-img h1, 
header.with-background-img h2 {
	text-shadow: 3px 2px #333;
	margin-top: 0;
	margin-bottom: 15px;
}

header.with-background-img h1 {
	color: #fcfcfc;
}

header.with-background-img h2 {
	color: #f9f9f9;
}

header.with-background-img div.header-text {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header:not(.with-background-img) {
	margin-bottom: 20px;
}

/************************************
*  INDEX
*************************************/
.blog-index {
	margin-top: 20px;
}

/* Title column */
.blog-index tr th:first-of-type,
.blog-index tr td:first-of-type {
	text-align: center;
}

/* Date column */
.blog-index tr th:nth-of-type(2) {
	min-width: 90px;
}

/************************************
*  TABLE OF CONTENTS
*************************************/

.table-of-contents {
	display: none;
}

.table-of-contents ol {
	counter-reset: item;
}

.table-of-contents li {
	display: block;
}

.table-of-contents li:before {
	content: counters(item, ".") " ";
	counter-increment: item;
}

.table-of-contents a {
	padding-left: 5px;
}

.showhide-btn {
	margin-bottom: 5px;
	font-family: "Courier New", monospace, serif;
}

/************************************
*  IMAGES
*************************************/
article p > img {
	padding-top: 20px;
}

.captioned-image-wrapper {
	padding-top: 25px;
	padding-bottom: 20px;
}

.captioned-image-wrapper img{
	display: block;
	max-width: 90%;
	margin: auto;
}

.captioned-image-wrapper span{
	display: block;
	text-align: center;
	font-style: italic;
}

div.captioned-image-wrapper + div.captioned-image-wrapper {
	padding-top: 0;
	margin-top: -5px;
}

/************************************
*  MEDIA
*************************************/
video {
	display: block;
	margin: auto;
}

/************************************
*  ARTICLE INFO BOX
*************************************/
.article-info {
	padding: .6em;
	text-align: right;
	float: right;
	border-left: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	margin-left: 10px;
}

/************************************
*  TYPOGRAPHY
*************************************/

/* Insert comma between tags in tag lists */
.tags span:not(:last-child):after {
	content: ", ";
}

.heading-number {
	padding-right: 3px;
}

h3 span.heading-number:after {
	content: ".";
}

.navbar-brand {
	visibility: visible;
}

/************************************
*  HEADINGS
*************************************/
h1 {
	margin-bottom: 10px;
}

#content-col > h3 {
	margin-top: 25px;
}

.row > h3:first-of-type {
	margin-top: 10px;
}

h3 {
	margin-top: 40px;
	letter-spacing: 1px;
}

h4 {
	margin-top: 30px;
}

/************************************
*  CODE
*************************************/
:not(pre) code {
	background-color: #eee;
	color: inherit;
}

code pre {
	border: none;
	padding: 0;
}

/************************************
*  TABLES
*************************************/
th {
	text-transform: uppercase;
	font-family: paragraph-bold;
}

/************************************
*  PAGINATION
*************************************/
.current-page {
	font-style: italic;
}

ul.pager {
	margin-bottom: 10px;
}

/************************************
*  FOOTNOTES
*************************************/
.footnote hr {
	display: none;
}

.footnote li:target {
	background-color: #fcf8e3;
}

.footnote-ref:before {
	content: '[';
}

.footnote-ref:after {
	content: ']';
}

/************************************
*  SHARE BUTTON
*************************************/
.share-btn {
	margin: auto;
	margin-top: 50px;
}

.share-btn label {
	background: #333 !important;
	color: #eee !important;
}

/************************************
*  RESPONSIVE
*************************************/
/* Anything smaller is xxs */
@media (min-width: 450px) {
	/* Title column */
	.blog-index tr th:first-of-type,
	.blog-index tr td:first-of-type {
		text-align: left;
	}
	
	h3 {
		font-size: 30px;
	}
	
	h4 {
		font-size: 25px;
	}
	
	h5 {
		font-size: 24px;
	}
}

/* md */
@media (min-width: 768px) {
	/* Date column */
	.blog-index tr td:nth-of-type(2) {
		min-width: 100px;
	}
	
	.captioned-image-wrapper span {
		font-size: 1.3em;
		margin-top: 5px;
	}
	
	h2 {
		font-size: 26px;
	}
	
	/* Could still look bad with long subtitles that break to a second line... */
	h2:before {
		content: "-- ";
	}

	h2:after {
		content: " --";
	}
}

@media (min-width: 992px) {
	header.with-background-img {
		height: 25em;
		padding: 0 5em;
	}
	
	.with-background-img h1 {
		font-size: 4.5em;
	}

	.with-background-img h2 {
		font-size: 2.9em;
	}
}
